﻿@model IRB_web_application.Models.AdminHomeViewModel

<ul class="nav nav-pills">

    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Menu 1</a></li>
    <li><a href="#">Menu 2</a></li>
    <li><a href="#">Menu 3</a></li>
</ul>
<br />
<h2>Admin Home</h2>
<div class="row">
   
    <div class="col-md-4">
        <h2>Manage Users: @Model.NumberOfUsers</h2>
        <p> @Html.ActionLink("View Users", "Index", "Users", null, new { })</p>
    </div>
    <div class="col-md-4">
        <h2>Manage University</h2>
        <p>Coming soon!</p>
    </div>
</div>

