﻿@model IRB_web_application.Models.FacultyHomeViewModel

<div>
    <h2>Student Dashboard</h2>
    <div class="row">

        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.NumberOFApplications</h3>

                    <p>Manage Applications</p>
                </div>
                <div class="icon">
                    <i class="fa fa-pencil"></i>
                </div>
                <p class="small-box-footer">@Html.ActionLink("Manage Applications", "Index", "Application")&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></p>
            </div>
        </div>

        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.NumberOFApplications</h3>

                    <p>Manage Collaborative Applications</p>
                </div>
                <div class="icon">
                    <i class="fa fa-pencil"></i>
                </div>
                <p class="small-box-footer">@Html.ActionLink("Manage Collaborative Applications", "Index", "CollaborativeUsersManagement")&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></p>
            </div>
        </div>

        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.NumberOFApplications</h3>

                    <p>Faculty Hub</p>
                </div>
                <div class="icon">
                    <i class="fa fa-pencil"></i>
                </div>
                <p class="small-box-footer">@Html.ActionLink("Faculty Sponsorship", "Index", "FacultyHub")&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></p>
            </div>
        </div>


    </div>
</div>
<br />

