﻿@model IRB_web_application.Models.AdminHomeViewModel
<div>
    <h2>SuperAdmin Dashboard</h2>
    <div class="row">
       
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>4</h3>

                    <p>Manage the User Roles</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <p class="small-box-footer">@Html.ActionLink("Manage Role", "Index", "Role")&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></p>
            </div>
        </div>
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Model.NumberOfUsers</h3>

                    <p>Number of Users</p>
                </div>
                <div class="icon">
                    <i class="fa fa-group"></i>
                </div>
                <p class="small-box-footer"> @Html.ActionLink("Manage Users", "SuperAdminList", "Users")&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></p>
            </div>
        </div>

        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3> @Model.NumberOfInstitution</h3>

                    <p>Number of Institution</p>
                </div>
                <div class="icon">
                    <i class="fa fa-university"></i>
                </div>
                <p class="small-box-footer"> @Html.ActionLink("Manage Universities ", "Index", "universities")&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></p>
            </div>
        </div>
       
    </div>
</div>