﻿@model IRB_web_application.Models.ApplicationUser

@{
     ViewBag.Title = "Delete";
}


    <h3>Are you sure you want to delete this User?</h3>
    <div>
        <h4>Delete User</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.University.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.University.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MiddleName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MiddleName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
    
            <dd>
                @*@Html.DisplayFor(model => model.Gender)*@
                @Html.Label("Gender", Model.Gender ? "Female" : "Male")
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StreetAddress1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StreetAddress1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StreetAddress2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StreetAddress2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.State)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Zip)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Zip)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CollegeName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CollegeName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.department)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.department)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResearchArea)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResearchArea)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Campus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Campus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
           
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
    
           
    
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "AdminList")
            </div>
        }
    </div>

