﻿
@{
    ViewBag.Title = "Index";
}

@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin. Manage Users Here </h1>

    if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("SuperAdmin"))
        {
            <h3>
                <li>@Html.ActionLink("View Users List", "SuperAdminList", "users")</li>
            </h3>
        }
        else
        if (User.IsInRole("Admin"))
        {
            <h3>
                <li>@Html.ActionLink("View Users List", "AdminList", "users")</li>
            </h3>
        }
    }


}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) .We will add user module soon </h2>
}

