﻿@model IRB_web_application.Models.ApplicationBasicDetail

@{
    ViewBag.Title = "AssignApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AssignApplication</h2>

<div>
    <h4>ApplicationBasicDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubmittedApplicationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmittedApplicationID)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.TypeOfApplication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfApplication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PISignedInitial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PISignedInitial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleOfResearch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleOfResearch)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.ApplicationStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSubmitted)
        </dd>

    </dl>
</div>
<form method="Post" action="/IRBManagement/AssignToSTaff">

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.DropDownList("Name", (SelectList)ViewBag.Name, "All IRB Members")
            <input type="submit" class="btn btn-default" value="View List" />
        </div>
    </div>
</form>

