﻿@model IRB_web_application.Models.ApplicationUser

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {

        if ((bool)Model.IsIRBChair)
        {
            <div class="col-md-4">
                <h2>New Submitted Application</h2>
                <p> @Html.ActionLink("UnAssigned Applications", "IRBSumbittedApplication", "IRBManagement", null, new { })</p>
            </div>

            <div class="col-md-4">
                <h2>Submitted Applications Already Assigned Or Yet to be Reviewed by Reviewer</h2>
                <p> @Html.ActionLink("Assigned Applications", "IRBApplicationsAssignedOrUndecided", "IRBManagement", null, new { })</p>
            </div>

            <div class="col-md-4">
                <h2>IRB Members</h2>
                <p> @Html.ActionLink("IRB Members", "ListIRBMembers", "IRBManagement", null, new { })</p>
            </div>

            <div class="col-md-4">
                <h2>All Applications</h2>
                <p> @Html.ActionLink("All Applications", "ListAllApplications", "IRBManagement", null, new { })</p>
            </div>
        }

        <div class="col-md-4">
            <h2>List of Standard Applications</h2>
            <p> @Html.ActionLink("Standard Applications", "ListIRBStandardApplication", "IRBManagement", null, new { })</p>
        </div>

        <div class="col-md-4">
            <h2>Applications Assigned to You</h2>
            <p> @Html.ActionLink("View Applications", "ListApplicationsAssignedToMember", "IRBManagement", null, new { })</p>
        </div>

    }



</div>