﻿@model IEnumerable<IRB_web_application.Models.ApplicationBasicDetail>

@{
    ViewBag.Title = "ListApplicationsAssignedToMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListApplicationsAssignedToMember</h2>

<p>

</p>

<form method="Post" action="/IRBManagement/ListApplicationsAssignedToMember">

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.DropDownList("State", (SelectList)ViewBag.State, "Select Status")
            <input type="submit" class="btn btn-default" value="View List" />
        </div>
    </div>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedApplicationID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TypeOfApplication)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TitleOfResearch)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedStaff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStateUpdate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedApplicationID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TypeOfApplication)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TitleOfResearch)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateSubmitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedStaff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStateUpdate)
            </td>
            <td>
                @Html.ActionLink("Preview", "Preview", new { id = item.ApplicationID })
                


                @*@Html.ActionLink("Details", "Details", new { id=item.ApplicationID }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.ApplicationID })*@
            </td>
        </tr>
    }

</table>
