﻿@model IEnumerable<IRB_web_application.Models.ApplicationBasicDetail>

@{
    ViewBag.Title = "ListAssignedApplications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListAssignedApplications</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedApplicationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfApplication)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TitleOfResearch)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ApplicationStartDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedStaff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationState)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.SubmittedApplicationID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TypeOfApplication)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.TitleOfResearch)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.ApplicationStartDate)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.DateSubmitted)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AssignedStaff)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ApplicationState)
    </td>
    <td>
        @Html.ActionLink("Review", "Edit", new { id = item.ApplicationID }) |
        @Html.ActionLink("Reassign to Applicant", "Details", new { id = item.ApplicationID }) |
        @Html.ActionLink("Reassign to another Member", "Delete", new { id = item.ApplicationID })
    </td>
</tr>
}

</table>
