﻿@model IRB_web_application.Models.ApplicationViewModel

@{
    ViewBag.Title = "Preview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Preview</h2>

<div>
    <h4>ApplicationViewModel</h4>
    <hr />
    <dl class="dl-horizontal">

        <h3>Basic Details</h3>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationBasicDetail.TypeOfApplication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationBasicDetail.TypeOfApplication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationBasicDetail.TitleOfResearch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationBasicDetail.TitleOfResearch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationBasicDetail.PISignedInitial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationBasicDetail.PISignedInitial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationBasicDetail.isGraduateStudent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationBasicDetail.isGraduateStudentOutput)
        </dd>



        <h3>Research Study Detail</h3>


        <dt>
            @Html.DisplayNameFor(model => model.ResearchStudyDetail.Data_Start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResearchStudyDetail.Data_Start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResearchStudyDetail.Data_End_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResearchStudyDetail.Data_End_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResearchStudyDetail.Fund_Agency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResearchStudyDetail.Fund_Agency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResearchStudyDetail.IRB_appr_req)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResearchStudyDetail.IRB_appr_req)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResearchStudyDetail.Methodology)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResearchStudyDetail.Methodology)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResearchStudyDetail.Project_Study_Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResearchStudyDetail.Project_Study_Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResearchStudyDetail.Purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResearchStudyDetail.Purpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResearchStudyDetail.Research_std_Proposal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResearchStudyDetail.Research_std_Proposal)
        </dd>

        @using (Ajax.BeginForm("SaveNote", new AjaxOptions
        {
            HttpMethod = "Post",
            OnSuccess = "Loaded",

        }))
        {
            <dt>
                @Html.DisplayNameFor(model => model.ResearchStudyDetail.Notes)
            </dt>

            <dd>
                @Html.EditorFor(model => model.ResearchStudyDetail.Notes)
            </dd>

            <input type="submit" id="" value="Save Note" />
        }

        <h3>Subject Defined Detail</h3>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectDefinedDetail.Approx_sub_recruited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectDefinedDetail.Approx_sub_recruited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectDefinedDetail.Research_sub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectDefinedDetail.Research_sub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectDefinedDetail.Research_sub_population)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectDefinedDetail.Research_sub_population)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectDefinedDetail.Research_Sub_Population_Other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectDefinedDetail.Research_Sub_Population_Other)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectDefinedDetail.Safeguard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectDefinedDetail.Safeguard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectDefinedDetail.Sub_recruited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectDefinedDetail.Sub_recruited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectDefinedDetail.Sub_Recruited_Other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectDefinedDetail.Sub_Recruited_Other)
        </dd>

        @using (Ajax.BeginForm("SaveNote", new AjaxOptions
        {
            HttpMethod = "Post",
            OnSuccess = "Loaded",

        }))
        {
            <dt>
                @Html.DisplayNameFor(model => model.SubjectDefinedDetail.Notes)
            </dt>

            <dd>
                @Html.EditorFor(model => model.SubjectDefinedDetail.Notes)
            </dd>

            <input type="submit" id="" value="Save Note" />
        }



        <h3>Risk Factor Detail</h3>

        @*<dt>
                @Html.DisplayNameFor(model => model.RiskFactorDetail.coercion_sub)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RiskFactorDetail.coercion_sub)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.RiskFactorDetail.Contri_To_Gk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskFactorDetail.Contri_To_Gk)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.RiskFactorDetail.elec_equip)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RiskFactorDetail.elec_equip)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RiskFactorDetail.Exp_Drug)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RiskFactorDetail.Exp_Drug)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.RiskFactorDetail.exp_dtl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskFactorDetail.exp_dtl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskFactorDetail.Field43)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskFactorDetail.Field43)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskFactorDetail.Field44)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskFactorDetail.Field44)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskFactorDetail.Iscoercion_sub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskFactorDetail.Iscoercion_sub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskFactorDetail.Iselec_equip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskFactorDetail.Iselec_equip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskFactorDetail.IsExpDrug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskFactorDetail.IsExpDrug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskFactorDetail.IsMedical_Prob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskFactorDetail.IsMedical_Prob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskFactorDetail.IsSubRisk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskFactorDetail.IsSubRisk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskFactorDetail.Issub_deception)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskFactorDetail.Issub_deception)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskFactorDetail.Issub_mental_discomfort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskFactorDetail.Issub_mental_discomfort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskFactorDetail.Issub_phys_discomfort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskFactorDetail.Issub_phys_discomfort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskFactorDetail.Issub_record)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskFactorDetail.Issub_record)
        </dd>

        @using (Ajax.BeginForm("SaveNote", new AjaxOptions
        {
            HttpMethod = "Post",
            OnSuccess = "Loaded",

        }))
        {
            <dt>
                @Html.DisplayNameFor(model => model.RiskFactorDetail.Notes)
            </dt>

            <dd>
                @Html.EditorFor(model => model.RiskFactorDetail.Notes)
            </dd>

            <input type="submit" id="" value="Save Note" />
        }





        <h3>Informed Consent 1</h3>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent1.ConsentFormDistri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent1.ConsentFormDistri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent1.IsMinorParticipate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent1.IsMinorParticipateString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent1.IsMinorSubObtainAssent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent1.IsMinorSubObtainAssentString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent1.IsOralConsent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent1.IsOralConsentString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent1.IsPrinciConsentWaive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent1.IsPrinciConsentWaiveString)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent1.IsSubInfWithdraw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent1.IsSubInfWithdrawString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent1.IsWrittenConsent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent1.IsWrittenConsentString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent1.TypeOfConsent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent1.TypeOfConsent)
        </dd>


        @using (Ajax.BeginForm("SaveNote", new AjaxOptions
        {
            HttpMethod = "Post",
            OnSuccess = "Loaded",

        }))
        {
            <dt>
                @Html.DisplayNameFor(model => model.InformedConsent1.Notes)
            </dt>

            <dd>
                @Html.EditorFor(model => model.InformedConsent1.Notes)
            </dd>

            <input type="submit" id="" value="Save Note" />
        }






        <h3>Informed Consent 2</h3>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent2.IsR01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent2.IsR01String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent2.IsR02)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent2.IsR02String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent2.IsR03)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent2.IsR03String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent2.IsR04)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent2.IsR04String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent2.IsR05)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent2.IsR05String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent2.IsR06)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent2.IsR06String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent2.IsR07)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent2.IsR07String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent2.IsR08)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent2.IsR08String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent2.IsR09)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent2.IsR09String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent2.IsR10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent2.IsR10String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent2.IsR11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent2.IsR11String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent2.IsR12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent2.IsR12String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent2.IsR13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent2.IsR13String)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent2.IsR14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent2.IsR14String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent2.IsR15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent2.IsR15String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent2.IsR16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent2.IsR16String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent2.IsR17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent2.IsR17String)
        </dd>

        @using (Ajax.BeginForm("SaveNote", new AjaxOptions
        {
            HttpMethod = "Post",
            OnSuccess = "Loaded",

        }))
        {
            <dt>
                @Html.DisplayNameFor(model => model.InformedConsent2.Notes)
            </dt>

            <dd>
                @Html.EditorFor(model => model.InformedConsent2.Notes)
            </dd>

            <input type="submit" id="" value="Save Note" />
        }


        <h3>Informed Consent 3</h3>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent3.IsR18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent3.IsR18String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent3.IsR19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent3.IsR19String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent3.IsR20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent3.IsR20String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent3.IsR21)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent3.IsR21String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent3.IsR22)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent3.IsR22String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent3.IsR23)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent3.IsR23String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent3.IsR24)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent3.IsR24String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent3.IsR25)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent3.IsR25String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent3.IsR26)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent3.IsR26String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent3.IsR27)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent3.IsR27String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent3.IsR28)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent3.IsR28String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent3.IsR29)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent3.IsR29String)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent3.IsR30)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent3.IsR30String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformedConsent3.IsR31)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformedConsent3.IsR31String)
        </dd>

        @using (Ajax.BeginForm("SaveNote", new AjaxOptions
        {
            HttpMethod = "Post",
            OnSuccess = "Loaded",

        }))
        {
            <dt>
                @Html.DisplayNameFor(model => model.InformedConsent3.Notes)
            </dt>

            <dd>
                @Html.EditorFor(model => model.InformedConsent3.Notes)
            </dd>

            <input type="submit" id="" value="Save Note" />
        }



    </dl>


</div>
@if ((bool)!Model.ApplicationBasicDetail.isSubmitted)
{
    <p>
        @using (Ajax.BeginForm("Submit", new AjaxOptions
        {
            HttpMethod = "Post",
            OnSuccess = "Loaded",

        }))
        {

            <button type="submit" value="Submit">Submit</button>
        }
        @Html.ActionLink("Save and Exit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back", "Index")
    </p>
}

@if ((bool)Model.ApplicationBasicDetail.isSubmitted & User.IsInRole("IRB Member"))
{

<p>
     @*Bunch of decision codes*@ 
    @Html.ActionLink("Decision", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Contact PI", "Index")
    @Html.ActionLink("Exit", "Index")
</p>

}

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    function Loaded(result) {
        alert('result ' + result.Name);
    }
</script>