﻿@model IRB_web_application.Models.ApplicationViewModel

<style>
    * {
        margin: 0;
        padding: 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
    }

    body {
        text-align: center;
        background-color: #34495e;
    }

    h1 {
        font-weight: 100;
        font-size: 32px;
        padding: 40px;
        color: #fff;
    }

    #breadcrumb {
        list-style: none;
        display: inline-block;
    }

        #breadcrumb .icon {
            font-size: 14px;
        }

        #breadcrumb li {
            float: left;
        }

            #breadcrumb li a {
                color: #FFF;
                display: block;
                background: #3498db;
                text-decoration: none;
                position: relative;
                height: 40px;
                line-height: 40px;
                padding: 0 10px 0 5px;
                text-align: center;
                margin-right: 23px;
            }

            #breadcrumb li:nth-child(even) a {
                background-color: #2980b9;
            }

                #breadcrumb li:nth-child(even) a:before {
                    border-color: #2980b9;
                    border-left-color: transparent;
                }

                #breadcrumb li:nth-child(even) a:after {
                    border-left-color: #2980b9;
                }

            #breadcrumb li:first-child a {
                padding-left: 15px;
                -moz-border-radius: 4px 0 0 4px;
                -webkit-border-radius: 4px;
                border-radius: 4px 0 0 4px;
            }

                #breadcrumb li:first-child a:before {
                    border: none;
                }

            #breadcrumb li:last-child a {
                padding-right: 15px;
                -moz-border-radius: 0 4px 4px 0;
                -webkit-border-radius: 0;
                border-radius: 0 4px 4px 0;
            }

                #breadcrumb li:last-child a:after {
                    border: none;
                }

            #breadcrumb li a:before, #breadcrumb li a:after {
                content: "";
                position: absolute;
                top: 0;
                border: 0 solid #3498db;
                border-width: 20px 10px;
                width: 0;
                height: 0;
            }

            #breadcrumb li a:before {
                left: -20px;
                border-left-color: transparent;
            }

            #breadcrumb li a:after {
                left: 100%;
                border-color: transparent;
                border-left-color: #3498db;
            }

            #breadcrumb li a:hover {
                background-color: #1abc9c;
            }

                #breadcrumb li a:hover:before {
                    border-color: #1abc9c;
                    border-left-color: transparent;
                }

                #breadcrumb li a:hover:after {
                    border-left-color: #1abc9c;
                }

            #breadcrumb li a:active {
                background-color: #16a085;
            }

                #breadcrumb li a:active:before {
                    border-color: #16a085;
                    border-left-color: transparent;
                }

                #breadcrumb li a:active:after {
                    border-left-color: #16a085;
                }
</style>



<ul id="breadcrumb">

    <li><a href="@Url.Action("Index","Application")"><span class="icon icon-home"> </span>Application</a></li>
    <li><a href="@Url.Action("BasicDetail","Application")"><span class="icon icon-beaker"> </span> Basic Details</a></li>


    @if (Model.ApplicationBasicDetail.isRerResr)
    {

        if (Model.ApplicationBasicDetail.TypeOfApplication == "Expedited")
        {
            <li><a href="@Url.Action("RerForm","Application")"><span class="icon icon-double-angle-right"></span> ReRForm</a></li>
        }
        else
        {
            <li><a href="@Url.Action("ResrForm","Application")"><span class="icon icon-rocket"> </span> ResrForm</a></li>
        }


    }

    @if (Model.ResearchStudyDetail != null)
    {
        if ((bool)Model.ResearchStudyDetail.isCompleted)
        {
            <li><a href="@Url.Action("ResearchStudyDetail", "Application")"><span class="icon icon-arrow-down"> </span> Research Study Detail</a></li>
        }
    }

    @if (Model.SubjectDefinedDetail != null)
    {
        if ((bool)Model.SubjectDefinedDetail.isCompleted)
        {
            <li><a href="@Url.Action("SubjectDefinedDetail", "Application")"><span class="icon icon-double-angle-right"></span> Subject Defined Detail</a></li>
        }
    }


    @if (Model.RiskFactorDetail != null)
    {
        if ((bool)Model.RiskFactorDetail.isCompleted)
        {
            <li><a href="@Url.Action("RiskFactorDetail", "Application")"><span class="icon icon-arrow-down"> </span> Risk Factor Detail</a></li>
        }
    }


    @if (Model.InformedConsent1 != null)
    {
        if ((bool)Model.InformedConsent1.isCompleted)
        {
            <li><a href="@Url.Action("InformedConsent1", "Application")"><span class="icon icon-rocket"> </span> Informed Consent 1 </a></li>
        }

    }

    @if (Model.InformedConsent2 != null)
    {
        if ((bool)Model.InformedConsent2.isCompleted)
        {
            <li><a href="@Url.Action("InformedConsent2", "Application")"><span class="icon icon-rocket"> </span> Informed Consent 2 </a></li>
        }
    }

    @if (Model.InformedConsent3 != null)
    {
        if ((bool)Model.InformedConsent3.isCompleted)
        {
            <li><a href="@Url.Action("InformedConsent3", "Application")"><span class="icon icon-rocket"> </span> Informed Consent 3 </a></li>
        }
    }
    @if (Model.UploadFiles != null)
    {
        if ((bool)Model.UploadFiles.isCompleted)
        {
            <li><a href="@Url.Action("UploadFiles", "Application")"><span class="icon icon-rocket"> </span> Upload Files  </a></li>
        }
    }
        <li><a href="@Url.Action("Preview","Application")"><span class="icon icon-rocket"> </span> Preview </a></li>

    </ul>
