﻿@model IRB_web_application.Models.ApplicationBasicDetail

@{
    ViewBag.Title = "Basic Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h2>Application Form</h2>
</section>
@{
    if (Session["ApplicationID"] != null) { Html.Action("TrackApplication"); }
}

<section class="content">

    @using (Html.BeginForm("BasicDetail", "Application", FormMethod.Post, new { @class = "form-horizontal main-application-form", id = "wizard" }))
    {
        @Html.AntiForgeryToken()



        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.ApplicationID)
        @Html.HiddenFor(model => model.UserID)
        <h2>Select Application Types</h2>
        <section>
            <div class="col-md-6 scrollbar left-message">
                <img src="~/Style/Images/icon1.png" />
                <h2>What are the types of Application? </h2>
                <ul class="application-info">
                    <li>
                        <h3>Standard</h3>
                        <p>
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                            A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            <button type="button" data-toggle="modal" data-target="#modal-default">Read More &hellip;</button>
                        </p>
                    </li>
                    <li>
                        <h3>Expeditied</h3>
                        <p>
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                            A small river named Duden flows by their place and supplies it with the necessary regelialia.
                        </p>
                    </li>
                    <li>
                        <h3>Exemption From Standard Review</h3>
                        <p>
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                            A small river named Duden flows by their place and supplies it with the necessary regelialia.
                        </p>
                    </li>
                </ul>

            </div>
            <div class="col-md-6">
                <fieldset>
                    <legend>Please select type of Review</legend>
                    <div class="form-group ">

                        <div class="col-md-10 select">
                            @Html.DropDownListFor(model => model.TypeOfApplication, (SelectList)ViewBag.ApplicationTypeList, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TypeOfApplication, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </fieldset>
            </div>

        </section>
        <h2>Basic Details</h2>
        <section>
            <fieldset>
                <legend>Basic Details</legend>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Full Name of Principal Investigator</label>
                        <input type="text" value="@ViewBag.PIFullName" class="form-control" disabled />
                       
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PISignedInitial, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PISignedInitial, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PISignedInitial, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TitleOfResearch, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TitleOfResearch, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TitleOfResearch, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Email Address</label>
                        <input type="text" class="form-control" disabled/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Mailing Address of P.I</label>
                        <input type="text" value="@ViewBag.PIMailingAddress" class="form-control" disabled/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Phone Number of P.I</label>
                        <input type="text" value="@ViewBag.PIPhoneNumber" class="form-control" disabled/>
                    </div>
                </div>
                @if (!User.IsInRole("Student"))
                {
                    <div class="form-group">
                        @Html.Label("I am a Graduate Student", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.isGraduateStudent)
                                @Html.ValidationMessageFor(model => model.isGraduateStudent, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                }


            </fieldset>
        </section>
        <!--<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save and Continue" class="btn btn-default" />
            </div>
        </div>-->




    }
    <div>
        @Html.ActionLink("Exit", "Index")
    </div>
    <div class="application-info-popup">
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Standard Type</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
                            injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem
                            Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators
                            on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                            It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem
                            Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or
                            non-characteristic words etc.
                        </p>
                    </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</section>

