﻿@model IEnumerable<IRB_web_application.Models.CollaborativeUsers>
@{
    ViewBag.Title = "CollaborativeUsersManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CollaborativeUsersManagement</h2>

@using (Ajax.BeginForm("CollaborativeUsersManagement", new AjaxOptions
{
    HttpMethod = "Post",
    OnSuccess = "Loaded",

}))

{

    <div class="form-group">
        <div class="control-label col-md-2"> Email Address </div>
        <div class="col-md-10">
            <input type="text" class="form-control" name="EmailAddress" />
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2"> Full Name </div>
        <div class="col-md-10">
            <input type="text" class="form-control" name="FullName" />
        </div>
    </div>

    <input type="submit" id="" value="Add User" />

}


@if (Model != null)
{
    foreach (var file in Model)
    {
        if (file.isRegistered == true)
        {
            <td>@ViewBag.ExistingUser.UserType</td>
           
        }

        <tr>

            <td>@file.FullName</td>
            <td>@file.EmailAddress</td>
            <td>@file.isRegistered</td>



            <td>
                @using (Ajax.BeginForm("DeleteCollabUser", new AjaxOptions
                {
                    HttpMethod = "Post",
                    OnSuccess = "Loaded",

                }))
                {
                    <input type="hidden" name="fileId" value=@file.ID />
                    <button type="submit" value="DeleteCollabUser">Delete</button>
                }
            </td>

        </tr>

    }
}


<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    function Loaded(result) {
        alert('result ' + result.Name);
    }
</script>

<div>
    @Html.ActionLink("Next", "Preview")
</div>
