﻿@model IEnumerable<IRB_web_application.Models.ApplicationBasicDetail>

@{
    ViewBag.Title = "ContinueApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ContinueApplication</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.TypeOfApplication)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PISignedInitial)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TitleOfResearch)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ApplicationIDint)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.isGraduateStudent)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.isGraduateStudentOutput)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.isCompleted)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.isSubmitted)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ApplicationStartDate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.LastEditedDate)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfApplication)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PISignedInitial)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.TitleOfResearch)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ApplicationIDint)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.isGraduateStudent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isGraduateStudentOutput)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.isCompleted)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.isSubmitted)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationStartDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.LastEditedDate)
        </td>*@
        <td>
            @Html.ActionLink("Continue", "EditApplication", new { id=item.ApplicationID }) |
            @Html.ActionLink("View Details", "ApplicationDetails", new { id=item.ApplicationID }) |
            @Html.ActionLink("Delete", "DeleteApplication", new { id=item.ApplicationID })
        </td>
    </tr>
}

</table>
