﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row">

        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>11</h3>

                    <p>Start A New Application</p>
                </div>
                <div class="icon">
                    <i class="fa fa-pencil"></i>
                </div>
                <p class="small-box-footer">@Html.ActionLink("New Application", "BasicDetail", "Application", null, new { })&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></p>
            </div>
        </div>

        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>11</h3>

                    <p>Continue Application</p>
                </div>
                <div class="icon">
                    <i class="fa fa-pencil"></i>
                </div>
                <p class="small-box-footer"> @Html.ActionLink("Continue Application", "ContinueApplication", "Application", null, new { })&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></p>
            </div>
        </div>

        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>11</h3>

                    <p>Submitted Applications</p>
                </div>
                <div class="icon">
                    <i class="fa fa-pencil"></i>
                </div>
                <p class="small-box-footer">  @Html.ActionLink("Submitted Application", "SumbittedApplication", "Application", null, new { })&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></p>
            </div>
        </div>

      

    </div>