﻿@model IRB_web_application.Models.ResearchStudyDetailViewModel

@{
    ViewBag.Title = "ResearchStudyDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h2>ResearchStudyDetail</h2>
</section>
<section class="content">
    @using (Html.BeginForm("ResearchStudyDetail", "Application", FormMethod.Post, new { @class = "form-horizontal main-application-form research-form", id = "wizard" }))
    {
        @Html.AntiForgeryToken()
         var t = Model.ResearchStudyProposal;

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h2>Research Study Details</h2>
        <section>
            <span class="singleline-height"></span>
            <div class="col-md-5 scrollbar left-message">
                <img src="~/Style/Images/icon2.png" />
                <h2>Research Study Proposal Details</h2>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden
                    flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of
                    sentences fly into your mouth.
                </p>
                <div>
                    @Html.ActionLink("Back", "BasicDetail", null, new { @class = "back-btn" })
                </div>
            </div>
            <div class="col-md-6 right-side">
                <fieldset>
                    <legend>This Research Study Proposal is</legend>
                  

                        @foreach (var m in Model.ResearchStudyProposal)
                        {

                <div class="checkbox col-md-6">
                    <input type="checkbox" id="_checkbox1" value="@m.Selected">
                    <input type="checkbox" id="_checkbox1" value="@m.Value">
                    <label for="_checkbox1">
                        @m.Text
                    </label>
                </div>

                        }

                    
                   

                    <!--Research Proposal code-->
                    <!--<div class="form-group">
        @Html.LabelFor(model => model.ResearchStudyDetail.Research_std_Proposal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ResearchStudyDetail.Research_std_Proposal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ResearchStudyDetail.Research_std_Proposal, "", new { @class = "text-danger" })
        </div>
    </div>-->
                </fieldset>
            </div>
        </section>
        <h2>Research Duration</h2>
        <section>
            <fieldset>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Is notification of IRB approval required by the granting agency?</label>
                        <div class="radio-group selection-option">
                            <div class="radio col-md-2">
                                <input class="gender" data-val="true" data-val-required="The field is required." id="yes" name="option" type="radio" value="false" aria-required="true">
                                <label for="yes">Yes</label>
                            </div>
                            <div class="radio col-md-2">
                                <input class="radio" id="no" name="option" type="radio" value="true">
                                <label for="no">No</label>
                            </div>
                        </div>
                        <!--request form code-->
                        <!-- <div class="form-group">
                            @Html.LabelFor(model => model.ResearchStudyDetail.IRB_appr_req, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.ResearchStudyDetail.IRB_appr_req, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ResearchStudyDetail.IRB_appr_req, "", new { @class = "text-danger" })
                            
                        </div>-->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ResearchStudyDetail.Data_Start_date, htmlAttributes: new { @class = "control-label" })
                        <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
                            @Html.EditorFor(model => model.ResearchStudyDetail.Data_Start_date, new { htmlAttributes = new { @class = "form-control", type = "text", id = "datepicker" } })
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>

                        </div>
                        @Html.ValidationMessageFor(model => model.ResearchStudyDetail.Data_Start_date, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ResearchStudyDetail.Data_End_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div id="datepicker2" class="input-group date" data-date-format="mm-dd-yyyy">
                            @Html.EditorFor(model => model.ResearchStudyDetail.Data_End_Date, new { htmlAttributes = new { @class = "form-control", type = "text", id = "datepicker" } })
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                        @Html.ValidationMessageFor(model => model.ResearchStudyDetail.Data_End_Date, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>What is the project Study Duration</label>
                        <div class="radio-group selection-option">
                            <div class="radio col-md-12">
                                <input class="study-date" data-val="true" data-val-required="The field is required." id="fewer" name="study" type="radio" value="false" aria-required="true">
                                <label for="fewer">Fewer than 13 months from application date</label>
                            </div>
                            <div class="radio col-md-12">
                                <input class="study-date" id="more" name="study" type="radio" value="true">
                                <label for="more">More than 13 months from application date</label>
                            </div>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        @Html.LabelFor(model => model.ResearchStudyDetail.Fund_Agency, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ResearchStudyDetail.Fund_Agency, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ResearchStudyDetail.Fund_Agency, "", new { @class = "text-danger" })
                        </div>
                    </div>
                        <div class="form-group">
                        @Html.LabelFor(model => model.ResearchStudyDetail.Project_Study_Duration, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ResearchStudyDetail.Project_Study_Duration, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ResearchStudyDetail.Project_Study_Duration, "", new { @class = "text-danger" })
                        </div>
                    </div>-->
                </div>
            </fieldset>
        </section>
        <h2>Purpose/Method</h2>
        <section>
            <div class="col-md-6 scrollbar left-message">
                <img src="~/Style/Images/icon3.png" />
                <h2>Research Purpose and Methodology</h2>
                <ul class="application-info">
                    <li>
                        <h3>Purpose</h3>
                        <p>
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                            A small river named Duden flows by their place and supplies it with the necessary regelialia.
                        </p>
                    </li>
                    <li>
                        <h3>Methodology</h3>
                        <p>
                            How will the research be conducted? Detail how participants will be selected, recruited, and treated. State
                            procedures to secure informed consent and procedures to maintain anonymity or confidentiality in data collection,
                            data analysis, data storage, and data reporting.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 right-side selecttype">
                <fieldset>
                    <div class="form-group">
                        <label>Purpose of Research</label>
                        <textarea></textarea>
                    </div>
                    <div class="form-group">
                        <label>Research Methodology</label>
                        <textarea></textarea>
                    </div>
                </fieldset>
            </div>
        </section>


        <!--<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>-->

    }


</section>
