﻿@model IRB_web_application.Models.RiskFactorDetail

@{
    ViewBag.Title = "RiskFactorDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RiskFactorDetail</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>RiskFactorDetail</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Sub_Risk, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.Label("Yes", "Yes")
                    @Html.RadioButtonFor(model => model.Sub_Risk, "true", new { id = "Yes" })

                    @Html.Label("No", "No")
                    @Html.RadioButtonFor(model => model.Sub_Risk, "false", new { id = "No" })
                    @Html.ValidationMessageFor(model => model.Sub_Risk, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Exp_Drug, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.Label("Yes", "Yes")
                    @Html.RadioButtonFor(model => model.Exp_Drug, "true", new { id = "Yes" })

                    @Html.Label("No", "No")
                    @Html.RadioButtonFor(model => model.Exp_Drug, "false", new { id = "No" })
                    @Html.ValidationMessageFor(model => model.Exp_Drug, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Medical_Prob, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.Label("Yes", "Yes")
                    @Html.RadioButtonFor(model => model.Medical_Prob, "true", new { id = "Yes" })

                    @Html.Label("No", "No")
                    @Html.RadioButtonFor(model => model.Medical_Prob, "false", new { id = "No" })
                    @Html.ValidationMessageFor(model => model.Medical_Prob, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sub_phys_discomfort, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.Label("Yes", "Yes")
                    @Html.RadioButtonFor(model => model.sub_phys_discomfort, "true", new { id = "Yes" })

                    @Html.Label("No", "No")
                    @Html.RadioButtonFor(model => model.sub_phys_discomfort, "false", new { id = "No" })
                    @Html.ValidationMessageFor(model => model.sub_phys_discomfort, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sub_mental_discomfort, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.Label("Yes", "Yes")
                    @Html.RadioButtonFor(model => model.sub_mental_discomfort, "true", new { id = "Yes" })

                    @Html.Label("No", "No")
                    @Html.RadioButtonFor(model => model.sub_mental_discomfort, "false", new { id = "No" })
                    @Html.ValidationMessageFor(model => model.sub_mental_discomfort, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.elec_equip, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.Label("Yes", "Yes")
                    @Html.RadioButtonFor(model => model.elec_equip, "true", new { id = "Yes" })

                    @Html.Label("No", "No")
                    @Html.RadioButtonFor(model => model.elec_equip, "false", new { id = "No" })
                    @Html.ValidationMessageFor(model => model.elec_equip, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sub_record, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.Label("Yes", "Yes")
                    @Html.RadioButtonFor(model => model.sub_record, "true", new { id = "Yes" })

                    @Html.Label("No", "No")
                    @Html.RadioButtonFor(model => model.sub_record, "false", new { id = "No" })
                    @Html.ValidationMessageFor(model => model.sub_record, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.coercion_sub, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.Label("Yes", "Yes")
                    @Html.RadioButtonFor(model => model.coercion_sub, "true", new { id = "Yes" })

                    @Html.Label("No", "No")
                    @Html.RadioButtonFor(model => model.coercion_sub, "false", new { id = "No" })
                    @Html.ValidationMessageFor(model => model.coercion_sub, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sub_deception, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.Label("Yes", "Yes")
                    @Html.RadioButtonFor(model => model.sub_deception, "true", new { id = "Yes" })

                    @Html.Label("No", "No")
                    @Html.RadioButtonFor(model => model.sub_deception, "false", new { id = "No" })

                    @Html.ValidationMessageFor(model => model.sub_deception, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.exp_dtl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.exp_dtl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.exp_dtl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Possible_Benefits, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Possible_Benefits, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Possible_Benefits, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contri_To_Gk, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contri_To_Gk, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contri_To_Gk, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sub_Rewarded_Compen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sub_Rewarded_Compen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sub_Rewarded_Compen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Field43, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Field43, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Field43, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Field44, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Field44, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Field44, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
