﻿@model IRB_web_application.Models.SubjectDefinedDetail

@{
    ViewBag.Title = "SubjectDefinedDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h2>SubjectDefinedDetail</h2>
</section>
<section class="content">
    @using (Html.BeginForm("SubjectDefinedDetail", "Application", FormMethod.Post, new { @class = "form-horizontal main-application-form research-form", id = "wizard" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h2>Research Subject</h2>
        <section>
            <div class="col-md-5 scrollbar left-message">
                <img src="~/Style/Images/icon4.png" />
                <h2>Subject/Participants Defined</h2>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden
                    flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of
                    sentences fly into your mouth.
                </p>
                <div>
                    @Html.ActionLink("Back", "DataHandlingDetail", null, new { @class = "back-btn" })
                </div>
            </div>
            <div class="col-md-6 right-side">
                <fieldset>
                    <div class="form-group">
                        <label>Who will be the research subjects?</label>
                        <div class="radio-group selection-option">
                            <div class="radio col-md-12">
                                <input class="study-date" data-val="true" data-val-required="The field is required." id="adult" name="study" type="radio" value="false" aria-required="true">
                                <label for="adult">Adult membersof the population at large</label>
                            </div>
                            <div class="radio col-md-12">
                                <input class="study-date" id="vulnerable" name="vulnerable" type="radio" value="true">
                                <label for="vulnerable">Vulnerable Populations</label>
                            </div>
                            <div class="radio col-md-12">
                                <input class="study-date" id="identify" name="identify" type="radio" value="true">
                                <label for="identify">De-identify data</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>
        <h2>Vulnerable Population</h2>
        <section>
            <fieldset>
                <div class="col-md-12">
                    <div class="col-md-7">
                        <legend>If research Subject will be selected from a Vulnerable population, <b>check all that apply</b></legend>
                        <div class="checkbox col-md-6">
                            <input type="checkbox" id="_checkbox1">
                            <label for="_checkbox1">
                                Minor under age 18
                            </label>
                        </div>
                        <div class="checkbox col-md-6">
                            <input type="checkbox" id="_checkbox2">
                            <label for="_checkbox2">
                                Mentally/Physically disabled
                            </label>
                        </div>
                        <div class="checkbox col-md-6">
                            <input type="checkbox" id="_checkbox3">
                            <label for="_checkbox3">
                                students
                            </label>
                        </div>
                        <div class="checkbox col-md-6">
                            <input type="checkbox" id="_checkbox4">
                            <label for="_checkbox4">
                                Cognitively Impaired
                            </label>
                        </div>
                        <div class="checkbox col-md-6">
                            <input type="checkbox" id="_checkbox5">
                            <label for="_checkbox5">
                                Senior Citizen over 65
                            </label>
                        </div>
                        <div class="checkbox col-md-6">
                            <input type="checkbox" id="_checkbox6">
                            <label for="_checkbox6">
                                Employees
                            </label>
                        </div>
                        <div class="checkbox col-md-6">
                            <input type="checkbox" id="_checkbox7">
                            <label for="_checkbox7">
                                Institutional residents
                            </label>
                        </div>
                        <div class="checkbox col-md-6">
                            <input type="checkbox" id="_checkbox8">
                            <label for="_checkbox8">
                                Pregnant Women
                            </label>
                        </div>
                        <div class="checkbox col-md-6">
                            <input type="checkbox" id="_checkbox9">
                            <label for="_checkbox9">
                                Prisoners
                            </label>
                        </div>
                        <div class="checkbox col-md-6">
                            <input type="checkbox" id="_checkbox10">
                            <label for="_checkbox10">
                                Non-English Speaker
                            </label>
                        </div>
                        <div class="checkbox col-md-6">
                            <input type="checkbox" id="_checkbox11">
                            <label for="_checkbox11">
                                Economically Disadvantaged
                            </label>
                        </div>
                        <div class="checkbox col-md-6">
                            <input type="checkbox" id="_checkbox12">
                            <label for="_checkbox12">
                                Terminally ill
                            </label>
                        </div>
                        <div class="checkbox col-md-6">
                            <input type="checkbox" id="_checkbox13">
                            <label for="_checkbox13">
                                Single subject Populations
                            </label>
                        </div>
                        <div class="checkbox col-md-6">
                            <input type="checkbox" id="_checkbox14">
                            <label for="_checkbox14">
                                Other (Specify)
                            </label>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <legend>What safetyguards will be used to protect Members of a Vulnerable Population?</legend>
                        <textarea></textarea>
                    </div>
                </div>
            </fieldset>
        </section>
        <h2>Recruited</h2>
        <section>
            <fieldset>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Approx_sub_recruited, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Approx_sub_recruited, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Approx_sub_recruited, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-6">
                    <legend>How will the subject be recruited/solicited? Check all the apply.</legend>
                    <div class="checkbox col-md-6">
                        <input type="checkbox" id="_checkboxa">
                        <label for="_checkboxa">
                            Advertisement
                        </label>
                    </div>
                    <div class="checkbox col-md-6">
                        <input type="checkbox" id="_checkboxb">
                        <label for="_checkboxb">
                            Random Call
                        </label>
                    </div>
                    <div class="checkbox col-md-6">
                        <input type="checkbox" id="_checkboxc">
                        <label for="_checkboxc">
                            Telephone Lists
                        </label>
                    </div>
                    <div class="checkbox col-md-6">
                        <input type="checkbox" id="_checkboxd">
                        <label for="_checkboxd">
                            Direct Solicitation
                        </label>
                    </div>
                    <div class="checkbox col-md-6">
                        <input type="checkbox" id="_checkboxe">
                        <label for="_checkboxe">
                            Letters
                        </label>
                    </div>
                    <div class="checkbox col-md-6">
                        <input type="checkbox" id="_checkboxf">
                        <label for="_checkboxf">
                            Other (Specify)
                        </label>
                    </div>
                    <div class="checkbox col-md-6">
                        <input type="checkbox" id="_checkboxg">
                        <label for="_checkboxg">
                            Notices
                        </label>
                    </div>


                </div>
                <!--
                <div class="form-group">
                    @Html.LabelFor(model => model.Research_sub, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Research_sub, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Research_sub, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Research_sub_population, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Research_sub_population, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Research_sub_population, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Safeguard, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Safeguard, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Safeguard, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Approx_sub_recruited, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Approx_sub_recruited, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Approx_sub_recruited, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sub_recruited, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Sub_recruited, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sub_recruited, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.Research_Sub_Population_Other, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Research_Sub_Population_Other, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Research_Sub_Population_Other, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sub_Recruited_Other, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Sub_Recruited_Other, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sub_Recruited_Other, "", new { @class = "text-danger" })
                    </div>
                </div>
                -->
            </fieldset>
        </section>




        <!--<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save and Continue" class="btn btn-default" />
            </div>
        </div>-->
    }


</section>