﻿@model IEnumerable<IRB_web_application.Models.ApplicationBasicDetail>

@{
    ViewBag.Title = "SumbittedApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SumbittedApplication</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedApplicationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfApplication)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.TitleOfResearch)
        </th>      
       
        <th>
            @Html.DisplayNameFor(model => model.ApplicationStartDate)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.SubmittedApplicationID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TypeOfApplication)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.TitleOfResearch)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.ApplicationStartDate)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.DateSubmitted)
    </td>
    <td>

        @Html.ActionLink("Details", "Preview", new { id = item.ApplicationID})

    </td>
</tr>
}

</table>
