﻿@model IRB_web_application.Models.UploadLinksViewModel

@{
    ViewBag.Title = "UploadFiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ Html.Action("TrackApplication");}
<h2>UploadFiles</h2>

@using (Html.BeginForm("UploadFiles", "Application", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="postedFile" />
    <input type="submit" id="btnUpload" value="Upload" />
}
@using (Html.BeginForm("DownloadFile", "Application", FormMethod.Post))
{
    <input type="hidden" id="hfFileId" name="FileId" />
    <input type="submit" id="btnDownload" value="Download" style="display:none" />
}
<hr />
<table cellpadding="0" cellspacing="0">
    <tr>

        <th style="width:120px">File Name</th>
        <th style="width:80px">Download</th>
        <th style="width:80px">Delete</th>
    </tr>

    @{ if (Model.uploadFiles.Count() > 0)
        {
            foreach (var file in Model.uploadFiles)
            {
                <tr>
                    <td>@file.Name</td>

                    <td>
                        @using (Ajax.BeginForm("DownloadFile", new AjaxOptions
                        {
                            HttpMethod = "Post",
                            OnSuccess = "Loaded",

                        }))
                        {
                            <input type="hidden" name="fileId" value=@file.ID />
                            <button type="submit" value="DownloadFile">Download</button>
                        }
                    </td>
                    <td>
                        @using (Ajax.BeginForm("DeleteFile", new AjaxOptions
                        {
                            HttpMethod = "Post",
                            OnSuccess = "Loaded",

                        }))
                        {
                            <input type="hidden" name="fileId" value=@file.ID />
                            <button type="submit" value="DeleteFile">Delete</button>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        }
    }
</table>



@using (Ajax.BeginForm("PostLink", new AjaxOptions
{
    HttpMethod = "Post",
    OnSuccess = "Loaded",

}))

{

    <div class="form-group">
        <div class="control-label col-md-2"> Name </div>
        <div class="col-md-10">
            <input type="text" class="form-control" name="Name" />
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2"> url </div>
        <div class="col-md-10">
            <input type="text" class="form-control" name="Link" />
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2"> Description </div>
        <div class="col-md-10">
            <input type="text" class="form-control" name="Description" />
        </div>
    </div>
    <input type="submit" id="btnDownload" value="PostLink" />

}





@if (Model.Hyperlinks != null)
{
    foreach (var file in Model.Hyperlinks)
    {
        <tr>
            <td><a href="http://@file.Link">@file.Name</a></td>
            <td>@file.Link</td>
            <td>@file.Description</td>

            <td>
                @using (Ajax.BeginForm("DeleteLink", new AjaxOptions
                {
                    HttpMethod = "Post",
                    OnSuccess = "Loaded",

                }))
                {
                    <input type="hidden" name="fileId" value=@file.ID />
                    <button type="submit" value="DeleteLink">Delete</button>
                }
            </td>

        </tr>

    }
}






<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    function Loaded(result) {
        alert('result ' + result.Name);
    }
</script>

<div>
    @Html.ActionLink("Next", "Preview")
</div>