﻿body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

.login-page, .register-page {
    width: 100%;
    background: #d2d6de;
    display: inline-block;
}

.login-box, .register-box {
    width: 100%;
    margin: 30px auto;
}

.login-logo, .register-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}

.login-patch, .register-patch {
    background: #630c0d;
    color: #fff;
    padding: 1% 0;
    margin-top: 10px;
    margin-bottom: 60px;
}

.login-box-body, .register-box-body {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #cac7c7;
    background: #fff;
    padding: 20px;
    color: #666;
}

.login-box-msg, .register-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
    font-size: 25px;
    color: #444;
}

.login-box-body label {
    font-size: 17px;
}

.form-control:not(select) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-control {
    height: 44px;
}

.has-feedback label ~ .form-control-feedback {
    top: 35px;
}

.btn {
    padding: 8px 12px;
    font-size: 18px;
}

.btn-primary {
    background-color: #630c0d;
    border-color: #400607;
}

.btn-primary.hover, .btn-primary:active, .btn-primary:hover {
        background-color: #630c0d;
}

/* upload picture css*/
.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.wizard .content .body .avatar-upload .avatar-edit input {
    display: none;
}

.wizard > .content > .body .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #630c0d;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #ffffff;
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
width: 192px;
height: 192px;
position: relative;
border-radius: 100%;
border: 6px solid #F8F8F8;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* multiform css*/


.research-section .col-md-6 {
    text-align: left;
}

.res-checkbox {
    margin-bottom: 15px;
    display: inline-block;
}

#wizard .research-section {
    padding: 0;
}

#wizard .res-checkbox label {
    font-size: 1em;
    padding-left: 2px;
}

#wizard .res-checkbox input {
    width: 15px;
    height: 15px;
    margin: 0 9px 0 0;
}

p.radio.research {
    float: left;
    width: 100%;
    margin: 0;
}

.wizard > .content > .body p.radio.research input[type="radio"] {
    float: left;
    width: 13%;
    font-size: inherit;
    height: auto;
    margin: 4px 0 0 -46px;
}

.second-form .wizard > .steps > ul > li {
    width: 50%;
}

.third-form .wizard > .steps > ul > li {
    width: 100%;
}

.first-form .wizard > .content > .body {
    text-align: center;
}


