﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div class="row">

    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>11</h3>

                <p>New Sponsorship Requests </p>
            </div>
            <div class="icon">
                <i class="fa fa-pencil"></i>
            </div>
            <p class="small-box-footer">@Html.ActionLink("New Sponsorship Request", "NewSponsorship", "FacultyHub", null, new { })&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></p>
        </div>
    </div>

    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>11</h3>

                <p>Sponsored Applications</p>
            </div>
            <div class="icon">
                <i class="fa fa-pencil"></i>
            </div>
            <p class="small-box-footer"> @Html.ActionLink("Sponsored Applications", "SponsoredApplications", "FacultyHub", null, new { })&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></p>
        </div>
    </div>

   


</div>
