﻿@model IEnumerable<IRB_web_application.Models.ApplicationViewModel>

@{
    ViewBag.Title = "NewSponsorship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewSponsorship</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrincipalInvestigator.FirstName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PrincipalInvestigator.LastName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PrincipalInvestigator.Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PrincipalInvestigator.UserName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ApplicationBasicDetail.TitleOfResearch)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ApplicationBasicDetail.TypeOfApplication)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ApplicationBasicDetail.ApplicationStartDate)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>


    <td>
        @Html.DisplayFor(modelItem => item.PrincipalInvestigator.FirstName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.PrincipalInvestigator.LastName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.PrincipalInvestigator.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PrincipalInvestigator.UserName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.ApplicationBasicDetail.TitleOfResearch)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ApplicationBasicDetail.TypeOfApplication)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ApplicationBasicDetail.ApplicationStartDate)
    </td>
    


    <td>
        @Html.ActionLink("Approve", "ApproveSponsor", new { AppID = item.ApplicationBasicDetail.ApplicationID }) |
        @Html.ActionLink("Details", "RejectSponsor", new { AppID = item.ApplicationBasicDetail.ApplicationID}) 
       
    </td>
</tr>
}

</table>
