﻿@model IRB_web_application.Models.University

@{
    ViewBag.Title = "Details";
}
<section class="content-header">
    <h1>Details</h1>
    <p>
        @Html.ActionLink("Register Admin", "Register", "Account", null, new { id = Model.ID, name = Model.Name, @class="btn btn-default" })
    </p>
</section>
<section class="content">
    
    <div class="col-xs-12">
        <div class="box box-primary">
            <h4>University</h4>
            <br />
            <div class="box-body box-profile">
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>@Html.DisplayNameFor(model => model.Name)</b>
                        <span class="pull-right">@Html.DisplayFor(model => model.Name)</span>
                    </li>
                    <li class="list-group-item">
                        <b> @Html.DisplayNameFor(model => model.Location)</b>
                        <span class="pull-right"> @Html.DisplayFor(model => model.Location)</span>
                    </li>
                    <li class="list-group-item">
                        <b>  @Html.DisplayNameFor(model => model.Url)</b>
                        <span class="pull-right">@Html.DisplayFor(model => model.Url)</span>
                    </li>
                    <li class="list-group-item">
                        <b> @Html.DisplayNameFor(model => model.Website)</b>
                        <span class="pull-right"> @Html.DisplayFor(model => model.Website)</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>  
    
</section>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index") |
   
    @Html.ActionLink("View Users", "AdminList", "Users", null, new { id = Model.ID })

</p>
