﻿@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!--@Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")-->
    <!--bootstrap Css-->
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <!--Font Awesome-->
    <link rel="stylesheet" href="/style/font-awesome.min.css">
    <!--Main Css-->
    <link rel="stylesheet" href="/style/main.css">
    <!--Main Css-->
    <link rel="stylesheet" href="/style/skin.css">
    <!--Main Css-->
    <link rel="stylesheet" href="/style/login-register.css">
    <!--Main Css-->
    <link rel="stylesheet" href="/style/jquery-steps.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <!--Font Family-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body class="skin-blue sidebar-mini">

    <header class="main-header">
        <!-- Logo -->
        <a href="/Home/Index" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>I</b>RB</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Admin</b>IRB</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-custom-menu">

               
               
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="@Url.Action("UserPhotos", "Home")" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p> @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    }
                    else
                    {
                        <a href="#"><i class="fa fa-circle text-danger"></i> Offline</a>
                    }

                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active treeview">
                    <a href="/Home/Index">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>
                @if (User.IsInRole("SuperAdmin"))
                {
                    <li class="treeview">
                        <a href="/Role/Index">
                            <i class="fa fa-hourglass-3"></i>
                            <span>Roles</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Create a Role</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> view</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Users/Index">
                            <i class="fa fa-user"></i>
                            <span>Users</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">

                            <li><a href="@Url.Action("SuperAdminList", "Users")"><i class="fa fa-circle-o"></i> view Users</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Universities/Index">
                            <i class="fa fa-university"></i>
                            <span>University</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Create", "universities")"><i class="fa fa-circle-o"></i> Add New</a></li>
                            <li><a href="@Url.Action("Index", "universities")"><i class="fa fa-circle-o"></i> Lists</a></li>
                        </ul>
                    </li>

                }

                @if (User.IsInRole("Admin"))
                {

                    <li class="treeview">
                        <a href="/Users/Index">
                            <i class="fa fa-user"></i>
                            <span>Users</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-university.html"><i class="fa fa-circle-o"></i> Register User</a></li>
                            <li><a href="university-list.html"><i class="fa fa-circle-o"></i> view</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Universities/Index">
                            <i class="fa fa-university"></i>
                            <span>University</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-university.html"><i class="fa fa-circle-o"></i> Add New</a></li>
                            <li><a href="university-list.html"><i class="fa fa-circle-o"></i> Lists</a></li>
                        </ul>
                    </li>

                }


                @if (User.IsInRole("Student"))
                {

                    <li class="treeview">
                        <a href="/Application/Index">
                            <i class="fa fa-university"></i>
                            <span>Application</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("BasicDetail", "Application")"><i class="fa fa-circle-o"></i> Start New</a></li>
                            <li><a href="@Url.Action("ContinueApplication", "Application")"><i class="fa fa-circle-o"></i> Continue Applications</a></li>
                            <li><a href="@Url.Action("SubmittedApplication", "Application")"><i class="fa fa-circle-o"></i> Submitted Applications</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Users/Index">
                            <i class="fa fa-user"></i>
                            <span>Notification Form</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-university.html"><i class="fa fa-circle-o"></i> Register User</a></li>
                            <li><a href="university-list.html"><i class="fa fa-circle-o"></i> view</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-university"></i>
                            <span>Collaborative Applications</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-university.html"><i class="fa fa-circle-o"></i> Add New</a></li>
                            <li><a href="university-list.html"><i class="fa fa-circle-o"></i> Lists</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Universities/Index">
                            <i class="fa fa-university"></i>
                            <span>Approval Letters</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-university.html"><i class="fa fa-circle-o"></i> Add New</a></li>
                            <li><a href="university-list.html"><i class="fa fa-circle-o"></i> Lists</a></li>
                        </ul>
                    </li>

                }

                @if (User.IsInRole("Staff"))
                {

                    <li class="treeview">
                        <a href="/Application/Index">
                            <i class="fa fa-university"></i>
                            <span>Application</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("BasicDetail", "Application")"><i class="fa fa-circle-o"></i> Start New</a></li>
                            <li><a href="@Url.Action("ContinueApplication", "Application")"><i class="fa fa-circle-o"></i> Continue Applications</a></li>
                            <li><a href="@Url.Action("SubmittedApplication", "Application")"><i class="fa fa-circle-o"></i> Submitted Applications</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Users/Index">
                            <i class="fa fa-user"></i>
                            <span>Notification Form</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-university.html"><i class="fa fa-circle-o"></i> Register User</a></li>
                            <li><a href="university-list.html"><i class="fa fa-circle-o"></i> view</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Universities/Index">
                            <i class="fa fa-university"></i>
                            <span>Collaborative Applications</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-university.html"><i class="fa fa-circle-o"></i> Add New</a></li>
                            <li><a href="university-list.html"><i class="fa fa-circle-o"></i> Lists</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Universities/Index">
                            <i class="fa fa-university"></i>
                            <span>Approval Letters</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-university.html"><i class="fa fa-circle-o"></i> Add New</a></li>
                            <li><a href="university-list.html"><i class="fa fa-circle-o"></i> Lists</a></li>
                        </ul>
                    </li>

                }

                @if (User.IsInRole("Faculty"))
                {

                    <li class="treeview">
                        <a href="/Application/Index">
                            <i class="fa fa-university"></i>
                            <span>Application</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("BasicDetail", "Application")"><i class="fa fa-circle-o"></i> Start New</a></li>
                            <li><a href="@Url.Action("ContinueApplication", "Application")"><i class="fa fa-circle-o"></i> Continue Applications</a></li>
                            <li><a href="@Url.Action("SubmittedApplication", "Application")"><i class="fa fa-circle-o"></i> Submitted Applications</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Users/Index">
                            <i class="fa fa-user"></i>
                            <span>Notification Form</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-university.html"><i class="fa fa-circle-o"></i> Register User</a></li>
                            <li><a href="university-list.html"><i class="fa fa-circle-o"></i> view</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Universities/Index">
                            <i class="fa fa-university"></i>
                            <span>Collaborative Applications</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-university.html"><i class="fa fa-circle-o"></i> Add New</a></li>
                            <li><a href="university-list.html"><i class="fa fa-circle-o"></i> Lists</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Universities/Index">
                            <i class="fa fa-university"></i>
                            <span>Approval Letters</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-university.html"><i class="fa fa-circle-o"></i> Add New</a></li>
                            <li><a href="university-list.html"><i class="fa fa-circle-o"></i> Lists</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Universities/Index">
                            <i class="fa fa-university"></i>
                            <span>Faculty Sponsorship</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-university.html"><i class="fa fa-circle-o"></i> Add New</a></li>
                            <li><a href="university-list.html"><i class="fa fa-circle-o"></i> Lists</a></li>
                        </ul>
                    </li>

                }

                @if (User.IsInRole("IRB Member"))
                {

                    <li class="treeview">
                        <a href="/Application/Index">
                            <i class="fa fa-university"></i>
                            <span>Application</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("BasicDetail", "Application")"><i class="fa fa-circle-o"></i> Start New</a></li>
                            <li><a href="@Url.Action("ContinueApplication", "Application")"><i class="fa fa-circle-o"></i> Continue Applications</a></li>
                            <li><a href="@Url.Action("SubmittedApplication", "Application")"><i class="fa fa-circle-o"></i> Submitted Applications</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Application/Index">
                            <i class="fa fa-university"></i>
                            <span>Manage IRB</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "IRBManagement")"><i class="fa fa-circle-o"></i> IRB Home</a></li>
                            <li><a href="@Url.Action("ListIRBStandardApplication", "IRBManagement")"><i class="fa fa-circle-o"></i> Standard Applications</a></li>
                            <li><a href="@Url.Action("ListApplicationsAssignedToMember", "IRBManagement")"><i class="fa fa-circle-o"></i> Assigned Applications</a></li>
                            <li><a href="@Url.Action("Index", "IRBManagement")"><i class="fa fa-circle-o"></i> Reviewed Applications</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Users/Index">
                            <i class="fa fa-user"></i>
                            <span>Notification Form</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-university.html"><i class="fa fa-circle-o"></i> Register User</a></li>
                            <li><a href="university-list.html"><i class="fa fa-circle-o"></i> view</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Universities/Index">
                            <i class="fa fa-university"></i>
                            <span>Collaborative Applications</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-university.html"><i class="fa fa-circle-o"></i> Add New</a></li>
                            <li><a href="university-list.html"><i class="fa fa-circle-o"></i> Lists</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Universities/Index">
                            <i class="fa fa-university"></i>
                            <span>Approval Letters</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-university.html"><i class="fa fa-circle-o"></i> Add New</a></li>
                            <li><a href="university-list.html"><i class="fa fa-circle-o"></i> Lists</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Universities/Index">
                            <i class="fa fa-university"></i>
                            <span>Faculty Sponsorship</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="add-university.html"><i class="fa fa-circle-o"></i> Add New</a></li>
                            <li><a href="university-list.html"><i class="fa fa-circle-o"></i> Lists</a></li>
                        </ul>
                    </li>

                }


            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <div class="content-wrapper">
        @RenderBody()

    </div>
    <footer class="main-footer">
        <p>&copy; @DateTime.Now.Year -IRB Application</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <!--@RenderSection("scripts", required: false)-->
    <script src="../../Style/Script/JavaScript-stepform.js"></script>
    <script src="../../Style/Script/main.js"></script>


</body>
</html>
