﻿@using IRB_web_application.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!--@Styles.Render("~/Content/bootstrap.css")-->
    @Scripts.Render("~/bundles/modernizr")
    <!--bootstrap Css-->
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <!--Main Css-->
    <link rel="stylesheet" href="/style/ionicons.min.css">
    <!--Main Css-->
    <link rel="stylesheet" href="/style/login-register.css">
    <!--Main Css-->
    <link rel="stylesheet" href="/style/jquery-steps.css">


    <!--fontawesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!--Font Family-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body>
    <!--login page-->
    <section class="login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="../../index.html" style="margin-bottom:2%; display:inline-block;"><img src="../../style/images/gannon-irb-logo.png" alt="logo"></a>
                <div class="login-patch">
                    <p>Secure Member Log-in</p>
                </div>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Welcome to Gannon IRB Application </p>

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group has-feedback">
                        @Html.LabelFor(m => m.UserName, new { @class = "" })
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group has-feedback">
                        @Html.LabelFor(m => m.Password, new { @class = "" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox icheck">
                                <label>@Html.CheckBoxFor(m => m.RememberMe) Remember Me</label>


                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-12" style="margin-bottom:15px;">
                            <button type="submit" value="Log in" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>

                    @Html.ActionLink("Forgot your password?", "ForgotPassword")<br />

                    <hr>
                    <div class="row">
                        <div class="col-xs-8">
                            <strong>Don't have an Account?</strong><br />
                            Please sign up for an account.
                        </div>
                        <div class="col-xs-4">
                            @Html.ActionLink("Register", "Register", "", new { @class = "btn btn-primary btn-block btn-flat" })
                        </div>
                    </div>
                }
            </div>
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->
    </section>
    <!--login-->
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jquery")
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <!--@RenderSection("scripts", required: false)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../../Style/Script/JavaScript-stepform.js"></script>
    <script src="../../Style/Script/main.js"></script>
    <!--<script src="../../Style/Script/adminlte.min.js"></script>-->
}


