﻿@model IRB_web_application.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!--@Styles.Render("~/Content/bootstrap.css")-->
    @Scripts.Render("~/bundles/modernizr")
    <!--bootstrap Css-->
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <!--Main Css-->
    <link rel="stylesheet" href="/style/ionicons.min.css">
    <!--Main Css-->
    <link rel="stylesheet" href="/style/login-register.css">
    <!--Main Css-->
    <link rel="stylesheet" href="/style/jquery-steps.css">


    <!--fontawesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!--Font Family-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body>
    <!-- Registration-->
    <section class="register-page">
        <div class="wrapper register-box">
            <div class="register-logo">
                <a href="../Home/index" style="margin-bottom:2%; display:inline-block;"><img src="../../style/images/gannon-irb-logo.png" alt="logo"></a>
                <div class="register-patch">
                    <p>New User Registration</p>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2 first-form">

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", id = "wizard", role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger"})
                        <h2>Upload Photo</h2>
                        <section class="choosetype">
                            <fieldset>
                                <h2 class="fs-title">Upload Photo</h2>
                                <div class="upload-image">
                                    <div class="avatar-upload">
                                        <div class="avatar-edit">
                                            <input type="file" name="UserPhoto" id="imageUpload" accept=".png,.jpg,.jpeg" />
                                            <label for="imageUpload"></label>
                                        </div>
                                        <div class="avatar-preview">
                                            <div id="imagePreview" style="background-image: url(../Style/Images/dummy-img.jpg);">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    function readURL(input) {
                                        if (input.files && input.files[0]) {
                                            var reader = new FileReader();
                                            reader.onload = function (e) {
                                                $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                                                $('#imagePreview').hide();
                                                $('#imagePreview').fadeIn(650);
                                            }
                                            reader.readAsDataURL(input.files[0]);
                                        }
                                    }
                                    $("#imageUpload").change(function () {
                                        readURL(this);
                                    });
                                </script>
                            </fieldset>
                        </section>
                        <h2>Personal Information</h2>
                        <section>
                            <fieldset>
                                <legend>Personal Information</legend>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.FirstName)
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control required" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.MiddleName)
                                        @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.LastName)
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.LabelFor(m => m.PhoneNumber)
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control required" })
                                    </div>
                                    <div class="col-md-6 ">
                                        <label>Gender</label><br />
                                        <div class="gender-group">
                                            <div class="gender col-md-4">
                                                @Html.RadioButtonFor(model => model.Gender, "false", new { id = "male", @class = "gender required" })
                                                @Html.Label("male", "Male")
                                            </div>
                                            <div class="gender col-md-4">
                                                @Html.RadioButtonFor(model => model.Gender, "true", new { id = "female", @class = "gender" })
                                                @Html.Label("female", "Female")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.LabelFor(m => m.StreetAddress1)
                                        @Html.TextBoxFor(m => m.StreetAddress1, new { @class = "form-control required" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(m => m.StreetAddress2)
                                        @Html.TextBoxFor(m => m.StreetAddress2, new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.City)
                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control required" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.State)
                                        @Html.TextBoxFor(m => m.State, new { @class = "form-control required" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.Zip)
                                        @Html.TextBoxFor(m => m.Zip, new { @class = "form-control required" })
                                    </div>
                                </div>

                            </fieldset>
                        </section>
                        <h2>Contact Information</h2>

                        <h2>More Info</h2>
                        <section>
                            <fieldset>
                                <legend>More Info</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.Label("University")
                                        @if ((SelectList)ViewBag.UniList != null)
                                        {
                                            @Html.DropDownList("UniversityName", (SelectList)ViewBag.UniList, "Select University", new { @class = "form-control select2" })
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("User Role", new { @class = "col-md-2 control-label" })
                                    <div class="col-md-12">
                                        @*@Html.DropDownList("Name")*@
                                        @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, "Select User Role ", new { @class = "form-control select2 required" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.LabelFor(m => m.ResearchArea)
                                        @Html.TextBoxFor(m => m.ResearchArea, new { @class = "form-control required" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(m => m.department)
                                        @Html.TextBoxFor(m => m.department, new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.LabelFor(m => m.CollegeName)
                                        @Html.TextBoxFor(m => m.CollegeName, new { @class = "form-control required" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(m => m.Campus)
                                        @Html.TextBoxFor(m => m.Campus, new { @class = "form-control required" })
                                    </div>
                                </div>
                            </fieldset>
                        </section>
                        <section>
                            <fieldset>
                                <legend>Contact Information</legend>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.LabelFor(m => m.Email)
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control email" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(m => m.UserName)
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control required" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.LabelFor(m => m.Password)
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(m => m.ConfirmPassword)
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                            </fieldset>
                        </section>
                        
                    }
                </div>
            </div>
        </div>
    </section>





    @Scripts.Render("~/bundles/jquery")
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../../Style/Script/JavaScript-stepform.js"></script>
    <script src="../../Style/Script/main.js"></script>
    <!--<script src="../../Style/Script/adminlte.min.js"></script>

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>-->
    <script type="text/javascript">
        function Loaded(result) {
            alert('result ' + result.Name);
        }
    </script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>