﻿@model IEnumerable<IRB_web_application.Models.ApplicationBasicDetail>

@{
    ViewBag.Title = "PendingApplications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PendingApplications</h2>

<form method="Post" action="/CollaborativeUsersManagement/Applications">

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.DropDownList("State", (SelectList)ViewBag.List)
            <input type="submit" class="btn btn-default" value="View List" />
        </div>
    </div>
</form>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.TypeOfApplication)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.TitleOfResearch)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.ApplicationStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditedDate)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.ApplicationState)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfApplication)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.TitleOfResearch)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEditedDate)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationState)
        </td>
        
        <td>

            @Html.ActionLink("Details", "Preview", new { id=item.ApplicationID } )

        </td>
    </tr>
}

</table>
