﻿@model IRB_web_application.Models.ApplicationBasicDetail

@{
    /**/

    ViewBag.Title = "FacultySponsor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FacultySponsor</h2>

@using (Ajax.BeginForm("FacultySponsor", new AjaxOptions
{
    HttpMethod = "Post",
    OnSuccess = "Loaded",

}))

{

    <div class="form-group">
        <div class="control-label col-md-2"> Email Address </div>
        <div class="col-md-10">
            <input type="text" class="form-control" name="FacultyEmail" />
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2"> Full Name </div>
        <div class="col-md-10">
            <input type="text" class="form-control" name="FacultyName" />
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2"> Phone Number </div>
        <div class="col-md-10">
            <input type="text" class="form-control" name="FacultyPhoneNumber" />
        </div>
    </div>

    <input type="submit" id="" value="Send Request" />

}

@{
    if (!(bool)Model.isFacultyApproved & Model.FacultyUserID != null)
    {

        @Html.ActionLink("Remind", "RemindFaculty")



    }

}


@{
    if ((string)Model.TypeOfApplication == "Exemption from Standard Review")
    {
        @Html.ActionLink("Next", "ResrForm")
    }
    else if ((string)Model.TypeOfApplication == "Expedited")
    {
        @Html.ActionLink("Next", "RerForm")
    }
    else
    {
        @Html.ActionLink("Next", "ResearchStudyDetail")
    }
}

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    function Loaded(result) {
        alert('result ' + result.Name);
    }
</script>