﻿@model IEnumerable<IRB_web_application.Models.CollaborativeUsers>

@{
    ViewBag.Title = "ViewCollabUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewCollabUsers</h2>

<table class="table">
    <tr>
     
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.isRegistered)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.isRegistered)
        </td>
        <td>
            @Html.ActionLink("Contact", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
           
        </td>
    </tr>
}

</table>
